<div class="accu1 box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="alufplastics box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="certainteed box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="dow box hidden">$79 Per Order</div>
<div class="dbisala box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="fakro box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="flexmembranes box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="gaf box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="hempitecture box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="handifoam box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="hunter box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="iko box hidden">$125 Per Order</div>
<div class="irionamerica box hidden">$25 Per Order</div>
<div class="insulguard box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="j&rproducts box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="kstrong box hidden">Orders under $300 = $20<br>Free Shipping on orders over $300</div>
<div class="knauf box hidden">$79 Per Order</div>
<div class="kingspan box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="louisvilleladder box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="lucas box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="maltadynamics box hidden">Free Shipping</div>
<div class="nationalnail box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="owenscorning box hidden">$79</div>
<div class="primegrip box hidden">$25 Per Order</div>
<div class="proaire box hidden">Free Shipping</div>
<div class="piher box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="perfectaire box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="quinglobal box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="qdek box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="roofing4uspolycarbonate box hidden">Location Based Shipping Rates - Calculated at Checkout<br><br>Orders placed for Polycarbonate products are typically made to order and typically cannot be cancelled 24hrs after placing your order. However in some instances orders can be cancelled up to 72hrs after your order is placed. If you wish to cancel your order please email <a href="mailto:deliveries@4us-group.com"><b>deliveries@4us-group.com</b></a> and one of our agents will assist you as best they can.</div>
<div class="rockwool box hidden">$79 Per Order</div>
<div class="rgc box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="rmax box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="roofshingles box hidden">$60 Per Order</div>
<div class="silvercote box hidden">$120 Per Order</div>
<div class="stairluxe box hidden">Free Shipping</div>
<div class="s5metalroofing box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="starwrap box hidden">FREE DELIVERY</div>
<div class="sun-tek box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="superr box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="tensor box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="tempshield box hidden">$60 Per Roll <br />60" and 72" are calculated at checkout<br><br>Reach Barriers and Stairs Covers: Location Based Shipping Rates - Calculated at Checkout</div>
<div class="trufastwalls box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="timberhp box hidden">Location Based Shipping Rates - Calculated at Checkout</div>
<div class="velux box hidden">FREE DELIVERY</div>
<div class="viper box hidden">Location Based Shipping Rates - Calculated at Checkout</div>


