{% comment %} Roofing4Us collection list content {% endcomment %}

<ul class="collection-list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down" role="list">
  {% assign collection = collections['skylights'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['polycarbonate-sheets'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['radiant-barrier'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['rigid-insulation'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['sealants-adhesives'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['fall-protection'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['clamps'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['mineral-wool'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['fakro-attic-ladder'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['metal-roofing'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['insulation-blowing-machines'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
  {% assign collection = collections['roof-shingles'] %}
  {% if collection != blank %}
    <li class="collection-list__item grid__item">
      {% render 'card-collection', 
        card_collection: collection, 
        media_aspect_ratio: section.settings.image_ratio,
        columns: section.settings.columns_desktop 
      %}
    </li>
  {% endif %}
</ul>
