{% comment %} Insulation4Less custom content sections {% endcomment %}

{% comment %} App blocks section: 1742400946de711423 {% endcomment %}
<div class="apps-section">
  <!-- Reviews.io carousel app block -->
  <!-- shopify://apps/reviews-io/blocks/reviewsio-card-carousel/92a082e5-b297-4e88-b428-ac96cbc505f9 -->
</div>

{% comment %} Custom liquid section: custom_liquid_7CefVV {% endcomment %}
<div class="custom-liquid-section">
<div class="what-we-do-section page-width">
<h2>Why Buy From Us</h2>
<div class="col-lg-6 what-we-do-text">
<p>Insulation4less is one of the largest and highest rated independent builder providers in the United Kingdom for both trade and DIY. We offer you a massive range of top rated insulation materials at consistently low prices.</p><p>

Our objective is very simple: The lowest priced insulation materials and the best possible customer service.</p><p>

Johnpaul Manning, the founder of Insulation4less, once struggled like thousands of other professionals in the construction industry to source suitable materials and affordable prices. He then decided it was time for a change. He established this company to meet all the insulation needs for your building and construction projects. </p><p>

We have created a massive online store to provide you with all the quality insulation materials you need in one place at the best possible prices. We strive to provide a vast product offering and superb customer service that will keep you coming back time and time again. Insulation4less only chooses those materials that give a lasting value for your investment and also meet all required building regulations.</p>
</div>
<div class="col-lg-6">
<div class="video-responsive"> <!-- (1) video wrapper -->
<div class="youtube" data-embed="rUqVyfsmF9s">
<!-- (2) the "play" button -->
<img src="https://img.youtube.com/vi/rUqVyfsmF9s/sddefault.jpg" width="559" height="419" alt="insulation4less the lowest priced insulation materials">
<div class="play-button">

</div>

</div>
</div>
</div>
</div>
</div>

{% comment %} Custom liquid section: custom_liquid_9xDqiC {% endcomment %}
<div class="custom-liquid-section">
<div class="insulation-guide-section container page-width">

<div class="col-md-4">
  <img src="https://cdn.shopify.com/s/files/1/0250/6198/2261/files/insulation-guide-i4l.png?v=1583940160" width="334" height="389" loading="lazy" alt="insulation guide booklet">
</div>

<div class="col-md-8">
  <br><br><h2 class="section_title">Read Our Comprehensive Installation Guide</h2>
  <p><b>Our team of experts have compiled into one document everything you need to know about installing insulation in your home.</b></p>
  <p>Our guide covers the installation of Insulation in the following locations:
Attic Spaces, Dormer Cheeks, Dwarf Walls, Flat Roofs, Roof Rafters, and much more.</p>
   

  <a href="/pages/insulation-installation-guide" target="_blank"><button type="button" class="btn btn-primary">View Guide</button></a>
</div>
</div>
</div>

{% comment %} Custom liquid section: custom_liquid_qmPjX9 {% endcomment %}
<div class="custom-liquid-section">
<div class="page-width">
<h2>We Have What You Need</h2><p>Insulation4less is the perfect platform for sourcing high-quality insulation products. We continuously add products from leading manufacturers such as&nbsp;<a href="https://insulation4less.co.uk/collections/kingspan-insulation" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Kingspan</a>,<a href="https://insulation4less.co.uk/collections/celotex-insulation" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Celotex</a>,&nbsp;<a href="https://insulation4less.co.uk/collections/rockwool" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Rockwool</a>&nbsp;and&nbsp;<a href="https://insulation4less.co.uk/collections/recticel" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Recticel</a>, as well as products from new innovative brands.</p><p>Choose from a wide range of&nbsp;<a href="https://build4less.co.uk/collections/insulation-board" target="_blank" title="Insulation Board" aria-describedby="a11y-new-window-external-message" rel="null noopener">insulation boards</a>, for&nbsp;<a href="https://insulation4less.co.uk/collections/floor-insulation#category-desc" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Floor Insulation</a>,&nbsp;<a href="https://insulation4less.co.uk/collections/wall-insulation" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Wall Insulation</a>,&nbsp;<a href="https://insulation4less.co.uk/collections/roof-insulation" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Roof insulation</a>&nbsp;as well as&nbsp;<a href="https://insulation4less.co.uk/collections/acoustic-insulation" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Acoustic Insulation</a>. Or browse our&nbsp;<a href="https://insulation4less.co.uk/collections/loft-insulation" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Loft insulation&nbsp;</a>selection, with loft roll from&nbsp;<a href="https://insulation4less.co.uk/collections/knauf-insulation" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Knauf Earthwool</a>,&nbsp;<a href="https://insulation4less.co.uk/collections/sheepwool-loft-insulation" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Sheep Wool</a>,&nbsp;<a href="https://insulation4less.co.uk/collections/isover" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">Isover</a>&nbsp;and many more.</p><p>Whether its&nbsp;<a href="https://insulation4less.co.uk/collections/insulated-plasterboard" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">insulated plasterboard</a>,&nbsp;<a href="https://insulation4less.co.uk/collections/foil-tape" target="_blank" title="https://insulation4less.co.uk/collections/foil-tape" rel="null noopener" aria-describedby="a11y-new-window-message">foil tape </a>or&nbsp;<a href="https://insulation4less.co.uk/collections/fire-stopping-insulation" target="_blank" rel="null noopener" aria-describedby="a11y-new-window-message">firestopping insulation</a>, you will find it on Insulation4less.</p></div>
</div>

