{% comment %} Roofing4Us custom content sections {% endcomment %}

{% comment %} Custom liquid section: custom_liquid_cJF6Gw {% endcomment %}
<div class="custom-liquid-section">
<div class="ibs-brochure-con col-12 col-xs-12 page-width">
<div class="ibs-img col-xs-12 col-md-5">
<img src="https://cdn.shopify.com/s/files/1/0420/1073/8840/files/IBS-Las-Vegas-2025---4US-Group-Brochure_84862540-0e15-46fb-b673-5d865c838d89.png?v=1741202461" alt="ibs brochure cover">
</div>
<div class="ibs-text col-xs-12 col-md-7">
<h2>Browse Our IBS Las Vegas 2025 Brochure</h2>
<p>Missed us at the event? or fancy taking another look at our brochure? Don't worry, we have added it here so you can do just that!</p>
<a href="/pages/ibs-las-vegas-2025-4us-group-brochure" class="button" target="_blank">View Brochure</a>
<p></p>
</div>
</div>
</div>

{% comment %} App blocks section: 1742400946de711423 {% endcomment %}
<div class="apps-section">
  <!-- Reviews.io carousel app block -->
  <!-- shopify://apps/reviews-io/blocks/reviewsio-card-carousel/92a082e5-b297-4e88-b428-ac96cbc505f9 -->
</div>

